/*
 * Variables used throughout Cannonfire
 * organized by categories and listed alphabetically
 * (except for colors, they come first)
 *
 */

// = Colors
$white:                         #FFFFFF;
$black:                         #000000;

$red-light:                     #ED5565;
$red-dark:                      #DA4453;

$orange-light:                  #FC6E51;
$orange-dark:                   #E9573F;

$yellow-light:                  #FFCE54;
$yellow-dark:                   #FCBB42;

$green-light:                   #A0D468;
$green-dark:                    #8CC152;

$teal-light:                    #48CFAD;
$teal-dark:                     #37BC9B;

$aqua-light:                    #4FC1E9;
$aqua-dark:                     #3BAFDA;

$blue-light:                    #5D9CEC;
$blue-dark:                     #4A89DC;

$purple-light:                  #AC92EC;
$purple-dark:                   #967ADC;

$pink-light:                    #EC87C0;
$pink-dark:                     #D770AD;

$lightgrey-light:               #F5F7FA;
$lightgrey-dark:                #E6E9ED;

$grey-light:                    #CCD1D9;
$grey-dark:                     #AAB2BD;

$darkgrey-light:                #656D78;
$darkgrey-dark:                 #434A54;

$color-primary:                 $aqua-light;
$color-primary-alt:             $aqua-dark;

$color-secondary:               $grey-light;
$color-secondary-alt:           $grey-dark;

$color-error:                   $red-light;
$color-error-alt:               $red-dark;

$color-watch:                   $yellow-light;
$color-watch-alt:               $yellow-dark;

$color-success:                 $green-light;
$color-success-alt:             $green-dark;

// = Alerts
$alert-border-radius:           3px;
$alert-padding:                 0 0 0 16px;
$alert-font-size:               15px;
$alert-height:                  52px;

// = Alignment
$align-left-margin:             0 1em 1em 0;
$align-right-margin:            0 0 1em 1em;

// = Boards
$board-padding:                 0.75em 1.5em;
$board-border-radius:           7px;
$board-box-shadow:              0 1px 5px rgba( 0, 0, 0, 0.35 );
$board-border:                  1px solid $color-secondary;

// = Breakpoints
$break-mobile:                  480px;
$break-tablet:                  768px;
$break-desktop-small:           992px;
$break-desktop-large:           1200px;

// = Buttons
$button-padding:                6px 16px;
$button-font-size:              13px;
$button-font-weight:            bold;
$button-border-radius:          3px;
$button-text-decoration:        none;
$button-text-shadow:            0 1px 1px rgba( 0, 0, 0, 0.25 );

$button-padding-mini:           2px 6px;
$button-font-size-mini:         11px;

$button-padding-small:          4px 10px;
$button-font-size-small:        11px;

$button-padding-large:          10px 24px;
$button-font-size-large:        15px;

$button-padding-huge:           16px 32px;
$button-font-size-huge:         17px;

$link-color-default:            $color-secondary;
$link-decoration-default:       none;

// = Font families and sizes
$font-family:                   "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-main:                14px;
$font-color:                    $darkgrey-dark;
$font-size-mini:                ($font-size-main * 0.75);
$font-size-small:               ($font-size-main * 0.85);
$font-size-large:               ($font-size-main * 1.25);
$font-size-huge:                ($font-size-main * 1.5);

// = Forms and inputs
$input-padding:                 6px 8px;
$input-select-padding:          5px 3px;
$input-border-radius:           3px;
$input-label-font-size:         $font-size-small;
$input-label-font-weight:       700;
$input-label-text-transform:    uppercase;
$input-label-width:             25%;
$input-label-color:             darken($color-secondary-alt, 15%);
$input-row-spacing:             0 0 8px;

// = Grids and rows
$grid-fixed-width-l:            1160px;
$grid-fixed-width-m:            960px;
$grid-fixed-width-s:            740px;
$grid-fluid-width-l:            90%;
$grid-fluid-width-s:            96%;
$grid-gutter-margin:            4%;
$row-vertical-spacing:          36px;

// = Headings
$heading-margin:                4px 0 12px;


// = Images and media
$img-rounded-radius:            7px;
$img-framed-background:         $white;
$img-framed-border:             1px solid $color-secondary;
$img-framed-padding:            7px;
$thumbnail-border:              1px solid $color-secondary;
$thumbnail-padding:             12px;

// = Intros
$intro-background-image:        url('../img/background.jpg');
$intro-color:                   $white;
$intro-width:                   100%;
$intro-height:                  540px;
$intro-padding:                 7em 5%;

// = Margins
$default-margin-small:          4px;
$default-margin-normal:         8px;
$default-margin-large:          16px;
$default-margin-huge:           32px;

// = Menus
$menu-color-default:            $darkgrey-dark;
$menu-border-color:             $color-secondary;
$menu-color-primary:            $white;
$menu-background-primary:       $color-primary;
$menu-color-secondary:          $font-color;
$menu-background-secondary:     $color-secondary;
$menu-padding:                  8px 10px;
$menu-font-size:                $font-size-small;
$menu-background-default:       $lightgrey-dark;

// = Paddings
$default-padding-small:          4px;
$default-padding-normal:         8px;
$default-padding-large:          16px;
$default-padding-huge:           32px;

// = Paragraphs and text
$paragraph-margin:              1em 0;
$paragraph-line-height:         1.333em;

$list-margin:                   1em 0 0 3em;
$list-line-height:              1.333em;
$list-fancy-margin:             1em 0 0;
$list-fancy-padding:            0.5em 0.75em;
$list-fancy-border:             1px solid;
$list-fancy-border-color:       $color-secondary;
$list-fancy-border-radius:      7px;

// = Tables
$table-border-color:            $color-secondary;
$table-head-background:         $lightgrey-dark;
$table-head-color:              $darkgrey-dark;
$table-color:                   $darkgrey-light;
$table-row-padding:             0.5em 0.75em;

// = Typography
$default-line-height:           0.75em;
$line-height-main:              20px;
$text-shadow-default:           0 1px 1px rgba(0,0,0,0.25);
$pre-background:                $lightgrey-light;
$pre-color:                     $darkgrey-light;
$pre-border:                    1px solid $color-secondary;
$pre-padding:                   1em;
$pre-border-radius:             7px;