.board {
    @include make-board();

    &.outline {
        border: $board-border;

        &.with-header {
            border: none;

            > .board-content {
                border: $board-border;
                border-top: none;
            }
        }
    }

    &.shadow {
        -webkit-box-shadow: $board-box-shadow;
        -moz-box-shadow: $board-box-shadow;
        box-shadow: $board-box-shadow;
    }

    &.no-radius {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;

        &.with-header {

            > img.board-header {
                -webkit-border-top-left-radius: 0;
                -webkit-border-top-right-radius: 0;
                -moz-border-radius-topleft: 0;
                -moz-border-radius-topright: 0;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            > .board-content {
                -webkit-border-bottom-left-radius: 0;
                -webkit-border-bottom-right-radius: 0;
                -moz-border-radius-bottomleft: 0;
                -moz-border-radius-bottomright: 0;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}