.button,
.button:link
.button:visited {
    display: inline-block;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    &.primary {
        @include make-button($white, $button-font-size, $button-padding, $color-primary);

        &.outline {
            @include make-button-outline($color-primary);
        }
    }

    &.secondary {
        @include make-button($white, $button-font-size, $button-padding, $color-secondary);

        &.outline {
            @include make-button-outline($color-secondary);
        }
    }

    &.success {
        @include make-button($white, $button-font-size, $button-padding, $color-success);

        &.outline {
            @include make-button-outline($color-success);
        }
    }

    &.watch {
        @include make-button($white, $button-font-size, $button-padding, $color-watch);

        &.outline {
            @include make-button-outline($color-watch);
        }
    }

    &.error {
        @include make-button($white, $button-font-size, $button-padding, $color-error);

        &.outline {
            @include make-button-outline($color-error);
        }
    }

    &.white {
        @include make-button($darkgrey-dark, $button-font-size, $button-padding, $white);

        &.outline {
            @include make-button-outline($white);
        }
    }

    &.mini {
        @include make-button-size($button-font-size-mini, $button-padding-mini);
    }

    &.small {
        @include make-button-size($button-font-size-small, $button-padding-small);
    }

    &.large {
        @include make-button-size($button-font-size-large, $button-padding-large);
    }

    &.huge {
        @include make-button-size($button-font-size-huge, $button-padding-huge);
    }
}
a,
a:link,
a:visited {
    color: $link-color-default;
    text-decoration: $link-decoration-default;

    &:hover {
        color: darken($link-color-default, 10%);
    }

    &:active {
        color: darken($link-color-default, 15%);
    }

    @include make-link('primary', $color-primary, $link-decoration-default);
    @include make-link('secondary', $color-secondary, $link-decoration-default);
    @include make-link('success', $color-success, $link-decoration-default);
    @include make-link('watch', $color-watch, $link-decoration-default);
    @include make-link('error', $color-error, $link-decoration-default);
}
