.t-uc {
    text-transform: uppercase;
}
.t-it,
i {
    font-style: italic;
}
.t-bd,
b,
strong {
    font-weight: 700;
}
.t-un {
    text-decoration: underline;
}
.t-mn {
    font-size: $font-size-mini;
}
small,
.t-sm {
    font-size: $font-size-small;
}
small {
    display: inline-block;
}
.t-lg {
    font-size: $font-size-large;
}
.t-hg {
    font-size: $font-size-huge;
}
.t-sh {
    text-shadow: $text-shadow-default;
}
p {
    margin: $paragraph-margin;
    line-height: $paragraph-line-height;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
ol,
ul {
    margin: $list-margin;

    li {
        line-height: $list-line-height;
    }

    &.fancy {
        @include make-list-fancy();
    }
}
pre {
    font-family: monospace;
    background: $pre-background;
    color: $pre-color;
    border: $pre-border;
    padding: $pre-padding;
    -webkit-border-radius: $pre-border-radius;
    -moz-border-radius: $pre-border-radius;
    border-radius: $pre-border-radius;
}