@mixin make-alignments() {
    .align-right {
        float: right;
        margin: $align-right-margin;
    }
    .align-left {
        float: left;
        margin: $align-left-margin;
    }
    .align-center {
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin make-text-alignments() {
    .text-left {
        text-align: left;
    }
    .text-center {
        text-align: center;
    }
    .text-right {
        text-align: right;
    }
}