@mixin make-table($class-name, $table-color, $table-head-background, $table-head-color, $table-border-color) {

    table.#{$class-name} {
        width: 100%;
        color: $table-color;

        thead {
            text-align: left;
            font-weight: bold;
            background: $table-head-background;
            color: $table-head-color;
        }

        tr {
        }

        td,
        th {
            padding: $table-row-padding;
            border-left: 1px solid $table-border-color;

            &:first-child {
                border-left: none;
            }
        }

        &.bordered {
            border: 1px solid $table-border-color;
        }

        &.horiz {

            tr:last-child {

                > td {
                    border-bottom: none;
                }
            }

            td {
                border-left: none;
                border-bottom: 1px solid $table-border-color;
            }

            th {
                border-left: none;
            }
        }

        &.grid {

            tr:last-child {

                > td {
                    border-bottom: none;
                }
            }

            td,
            th {
                border-bottom: 1px solid $table-border-color;
            }
        }
    }
}